* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-area {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo-area img {
  width: 140px;
  border-radius: 12px;
}

.sidebar {
  width: 240px;
  min-height: 100vh;
  background: white;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 14px;
  margin-bottom: 12px;

  border-radius: 10px;
  cursor: pointer;

  transition: 0.3s;
}

.sidebar li:hover {
  background: #f3f0ff;
}

.active {
  background: #ede9ff;
  color: #5b4bff;
  font-weight: bold;
}

body {
  background: #f5f6fa;
  font-family: sans-serif;
}

.container {
  display: flex;
}

.content {
  flex: 1;
  padding: 30px;
}

.dashboard {
  display: flex;
  gap: 20px;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}

.header {
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.form {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

input,
select,
button {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

button {
  background: #5b4bff;
  color: white;
  border: none;
}

.stats {
  display: flex;
  gap: 20px;
}

.stat-card {
  background: white;
  flex: 1;
  padding: 20px;
  border-radius: 12px;
}

@media (max-width: 900px) {

  .dashboard {
    flex-direction: column;
  }

  .stats {
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }

}